@model Coop.Models.Assortment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Assortment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveFrom" class="control-label"></label>
                <input asp-for="ActiveFrom" class="form-control" />
                <span asp-validation-for="ActiveFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveTo" class="control-label"></label>
                <input asp-for="ActiveTo" class="form-control" />
                <span asp-validation-for="ActiveTo" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="AssortmentProducts" class="control-label"></label>
                <input asp-for="AssortmentProducts" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

